.draggable {
    position: absolute;
}

.draggable:hover {
    position: absolute; /*cursor:move;*/
}

div#ComponentContainer {
    width: 21%;
    height: 500px;
    border: 1px solid black;
    padding: 10px;
    float: left;
}

div#ComponentContainer #LinearLayout, div#ComponentContainer #ListViewComponent {
    width: 80px;
    min-height: 70px;
    border: 1px dashed gray;
    position: absolute;
    background: rgba(190, 255, 241, 0.51);
}

div#ComponentContainer #ListViewComponent {
    background: rgba(247, 255, 50, 0.51);
}

div ul.WorkspaceContainer ul, div ul#ListviewContainer ul {
    padding: 0px;
    margin: 0px;
}

div ul.WorkspaceContainer li {
    /*list-style: none;*/
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: block;
}

div#mobielDev {
    width: 50%;
    height: 500px;
    border: 1px solid black;
    margin-left: 5px;
    float: left;
}

div ul.WorkspaceContainer, div ul#ListviewContainer {
    padding: 0px;
    margin: 0px;
}

div ul#ListviewContainer {
    display: none;
    background-color: #9799dd;
    height: 100%;
}

div#ProperiesContainer {
    width: 21%;
    height: 500px;
    border: 1px solid black;
    padding: 10px;
    margin: 0 5px;
    float: left;
}

div#ProperiesContainer table {
    padding: 5px;
    margin: 0 auto;
    width: 90%;
    background-color: aquamarine;
    display: none;
}

div#ProperiesContainer table tr td input[type='text'] {
    width: 100px;
}

div.popup, div.listviewpopup {
    width: 200px;
    background-color: aquamarine;
    position: absolute;
    padding: 5px;

    border-radius: 5px;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    z-index: 1000;
    display: none;
}

div.popup table tr input[type="text"], div.listviewpopup table tr input[type="text"] {
    width: 130px;
}

div.popup #close, div.listviewpopup #listviewclose {
    width: 22px;
    height: 22px;
    font-size: 22px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid brown;
    color: brown;
    float: right;
}

body div.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 2s ease;
    -o-transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -moz-transition: all 2s ease;
    display: none;
}

div.popup #close:hover, div.listviewpopup #listviewclose:hover {
    background-color: bisque;
    color: white;
    cursor: default;
    border-color: bisque;
}

div#ComponentContainer table {
    padding: 5px;
    margin: 0 auto;
    width: 90%;
}

div#ComponentContainer div {
    width: 100%;
    padding: 5px;
    float: left;
    height: 40px;
}

div#ComponentContainer div#divtextview label {
    display: block;
    width: 80px;
    text-align: center;
    height: 25px;
    margin-left: 10px;
    margin-top: 6px;
}

div#ComponentContainer div#divButton button, div ul.WorkspaceContainer li button {
    width: 80px;
    height: 35px;
    margin: 0 auto;
}

div#ComponentContainer div#divedittext input {
    width: 100px;
}

div#ComponentContainer div#divlistview div {
    border: dashed 1px #000;
    width: 100px;
    text-align: center;
}

div#ComponentContainer div#divimageview div {
    border: solid 1px #000;
    width: 100px;
    text-align: center;
}

/*Right hand side properties*/
#whole_dev {
    overflow: auto;
    align-content: center;
    margin: auto;

}

#main_title {
    color: indigo;
    text-align: center;
    border: solid 2px gray;
    padding: 2px;
    text-shadow: 1px 1px 5px black;
    margin: auto;
    width: 600px;
    margin-bottom: 15px;
}

.dev_container {
    border: solid 1px gray;
    padding: 10px;
    height: 500px;
    background: #e8e8e8;
}

#middle_div {
    width: 74%;
    float: left;
    margin: auto;
    min-width: 400px;
}

#right_div {
    overflow: auto;
    width: 22%;
    float: right;
    min-width: 300px;
    min-height: 500px;
}

#right_div, #middle_div {
    height: 100%;
}

#property_title {
    font-family: "Britannic Bold";
    text-align: center;
    font-weight: bold;
}

#right_div .property_div {
    overflow: auto;

}

#right_div ul {
    list-style: none;
    padding: 0;
}

#right_div select {
    position: relative;
    width: 100%;
    padding: 1px;
}

#right_div .property_edittext {
    float: right;
    width: 60%;
    position: relative;
    text-align: center;
}

#right_div .property_label {
    float: left;
    width: 38%;
    position: relative;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

#right_div .property_label li {
    margin-bottom: 13px;
}

.text_style_ul li label {
    font-size: 15px;
}

.default {
    color: gray;
    font-weight: bold;
}

select {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
}

#export_xml {
    margin-left: 120px;
}

td {
    padding: 5px
}

#right_div table {
    width: 100%;
}

#right_div table tr td label, #right_div table tr td input, #right_div table tr td select {
    width: 100%;
    float: right;
}

#popupBoxOnePosition {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.popupBoxWrapper {
    width: 700px;
    margin: 50px auto;
    text-align: center;
}

.popupBoxContent {
    border-radius: 5px;
    background-color: #FFF;
    padding: 10px;
}

#closePopup {
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    /*padding: 20px;*/
    text-align: center;
}

#savePopup {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    /*padding: 20px;*/

}

#functionWrpper {
    /*border: solid 1px black;*/
    height: 475px;
    text-align: center;
}

#funComponent {
    border: solid 1px black;
    height: 450px;
    width: 40%;
    float: left;
    /*overflow: auto;*/
}

#funLines {
    border: solid 1px black;
    height: 450px;
    width: 55%;
    float: left;
    overflow: auto;
}

ul {
    list-style-type: none;
}

.showToast {
    border: 1px solid red;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    cursor: move;
    position: relative;

}

.showToastFrom {
    border: 1px solid red;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    cursor: move;
    position: relative;

}

.moveValueofViews {
    border: 1px solid red;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    cursor: move;
    position: relative;
    text-align: center;
}

.startActivity {
    border: 1px solid red;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    cursor: move;
    position: relative;
    text-align: center;
}

.addField {
    margin: 5px;
    margin-left: 50px;
    color: black;
    font-size: 17px;
    background: gainsboro;
    cursor: pointer;
}

.toastText {
    width: 120px;
}

.fieldKey {
    width: 90px;
}

.fieldValue {
    width: 90px;
}

.removeExtraRow {
    cursor: pointer;
    background: gainsboro;
}


#popupBoxConfig {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    /*height: 150%;*/
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    text-align: center;
}

.popupBoxWrapper {
    width: 800px;
    margin: 50px auto;
    text-align: center;
}

.popupBoxContent {
    border-radius: 5px;
    background-color: #FFF;
    padding: 10px;
    text-align: center;
}

#closePopupConfig {
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    /*padding: 20px;*/
    text-align: center;
}

#savePopupConfig {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    /*padding: 20px;*/

}

.configTable {
    text-align: left;

    /*padding: 20px;*/
    margin-left: 50px;
}

.configRowInput {
    width: 320px;
    margin-left: 20px;
}

.configRowInput {
    margin: 5px;
    text-align: center;
}

ul {
    list-style-type: none;
}

.configQuery {
    padding: 0px;
    margin: 5px;
    text-align: center;
}

#queryCreator {
    display: none;
}

#checkboxCreator {
    display: none;
}

#jsonEx {
    width: 553px;
    height: 200px;
    margin-top: 25px;
    resize: none;
}

.queryRow {
    margin-top: 5px;
}

#page-wrap {
    margin: auto 0;
}

.treeview {
    margin: 20px 0 0 40px;
    text-align: left;
}

ul {
    list-style: none;
}

.treeview li {
    /*background: url(http://jquery.bassistance.de/treeview/images/treeview-default-line.gif) 0 0 no-repeat;*/
    padding: 2px 0 2px 16px;
}

.treeview > li:first-child > label {
    /* style for the root element - IE8 supports :first-child
    but not :last-child ..... */

}

.treeview li.last {
    background-position: 0 -1766px;
}

.treeview li > input {
    height: 16px;
    width: 16px;
    /* hide the inputs but keep them in the layout with events (use opacity) */
    opacity: 0;
    filter: alpha(opacity=0); /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
}

.treeview li > label {
    background: url(https://www.thecssninja.com/demo/css_custom-forms/gr_custom-inputs.png) 0 -1px no-repeat;
    /* move left to cover the original checkbox area */
    margin-left: -20px;
    /* pad the text to make room for image */
    padding-left: 20px;
    font-weight: bold;
    margin-bottom: 1px;
}

/* Unchecked styles */

.treeview .custom-unchecked {
    background-position: 0 -1px;
}

.treeview .custom-unchecked:hover {
    background-position: 0 -21px;
}

/* Checked styles */

.treeview .custom-checked {
    background-position: 0 -81px;
}

.treeview .custom-checked:hover {
    background-position: 0 -101px;
}

/* Indeterminate styles */

.treeview .custom-indeterminate {
    background-position: 0 -141px;
}

.treeview .custom-indeterminate:hover {
    background-position: 0 -121px;
}

.bindWithDev {
    width: 100%;
    font-size: 12px;
    margin-left: 30px;
    color: #ff0062;
    margin-bottom: 2px;
}

.bindWithSel {
    font-size: 11px;

}

#radioCreator {
    display: none;
}